@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Source+Sans+Pro:wght@200;400;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.whiteScrollBar::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #fff;
}

.greenScrollBar::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #84cc16;
}
.customScrollBar::-webkit-scrollbar {
    height: 10px;
}
 
.customScrollBar::-webkit-scrollbar-track {
    background-color: transparent;
}

.signBox .loginBtn, .signBox .signBtn{
    color: #84cc16!important;
    border-color: #84cc16!important;
    background-color: transparent!important;
}

.signBox .loginBtn:hover, .signBox .signBtn:hover {
    opacity: 0.7;
}
.halfDiv{
    margin-left: 25px!important;
}
 
